*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(13, 13, 104);
    color:white;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.choice{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice:hover{
cursor: pointer;
background-color: rgb(18, 18, 118);
}


img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8rem;
    height: 10rem;
}